@font-face {
  font-family: "PyperFonts";
  src: url(/src/fonts/Rubik-VariableFont.ttf);
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Arial;
  background-color: rgb(240, 240, 240);
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "PyperFonts";
  font: "Rubik-VariableFont";
}
button:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
select:focus {
  outline: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.hidden {
  display: none;
}
.active-navigation-light {
  border-bottom: 4px solid #008ddf;
}

.active-navigation-dark {
  border-bottom: 4px solid black;
  border-image: linear-gradient(to right top, #ca007d, #008ddf, #7734bc);
  border-image-slice: 1;
}
