main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1150px;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main__posts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
  height: auto;
}

main .main__posts-section .main__header-streams {
  padding: 15px;
  height: auto;
  background-color: white;
}

main .main__posts-section .main__header-streams h3 {
  margin-bottom: 22px;
  font-size: 22px;
}

main .main__posts-section .main__header-streams .navigation-content {
  height: 35px;
}

main .main__posts-section .main__header-streams .navigation-content li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 60px;
  margin-right: 15px;
  padding-bottom: 25px;
}

main .main__posts-section .main__header-streams .navigation-content li a {
  cursor: pointer;
  opacity: 0.6;
  letter-spacing: -0.3px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

main .main__posts-section .main__header-streams .navigation-content li a:hover {
  border-bottom: 4px solid #008ddf;
}

main .main__posts-section .main__header-streams .navigation-content li a:focus {
  border-bottom: 4px solid #34588a;
}

main .main__posts-section .main__header-streams .main__search-filter {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

main .main__posts-section .main__header-streams .main__search-filter button {
  font-size: 16px;
  padding: 0;
  margin-top: 5px;
}

main .main__posts-section .main__header-streams .main__search-filter button .fas {
  margin-left: 8px;
}

main .main__posts-section .main__header-streams .main__search-filter button:hover {
  color: #34588a;
}

main .main__posts-section .main__header-streams .main__search-filter .main__copy-filter-btn {
  float: right;
  padding: 0 10px;
  opacity: 0.5;
  font-size: 18px;
}

main .main__posts-section .main__header-streams .main__search-filter .main__copy-filter-btn:hover {
  color: #34588a;
}

main .main__posts-section .main__header-streams .main__search-filter-block {
  height: auto;
}

main .main__posts-section .main__header-streams .main__search-filter-block div {
  margin: 20px 0;
}

main .main__posts-section .main__header-streams .main__search-filter-block div p {
  font-weight: bold;
  font-size: 15px;
  padding: 5px 0;
}

main .main__posts-section .main__header-streams .main__search-filter-block div button {
  height: 30px;
  padding: 0 8px;
  border: 1px solid #548eaa;
  border-radius: 3px;
  color: #008ddf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

main .main__posts-section .main__header-streams .main__search-filter-block div button:hover {
  background-color: #548eaa;
  color: white;
}

main .main__posts-section .main__header-streams .main__search-filter-block div .filter-search-active {
  background-color: #548eaa;
  color: white;
}

main .main__posts-section .main__header-streams .main__search-filter-block .filter-apply {
  background-color: #7aa600;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
}

main .main__posts-section article {
  display: block;
  width: 100%;
  min-height: 100px;
  background-color: white;
  padding: 15px;
  padding-bottom: 0;
  margin-top: 20px;
}

main .main__posts-section article .article__author-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 30px;
}

main .main__posts-section article .article__author-section .author__user-avatar {
  width: 25px;
  height: 25px;
}

main .main__posts-section article .article__author-section .author__user-name {
  font-weight: bold;
  font-size: 15px;
  padding: 0 5px;
}

main .main__posts-section article .article__author-section .author__date-publication {
  font-size: 15px;
  opacity: 0.7;
  padding: 0 5px;
  cursor: default;
}

main .main__posts-section article .article__header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

main .main__posts-section article .article__header-section .header-section__name-article {
  font-size: 20px;
  font-weight: bold;
}

main .main__posts-section article .article__header-section .header-section__categories .header-section__category {
  font-size: 15px;
}

main .main__posts-section article .article__header-section .header-section__type-article {
  width: 100px;
  text-align: center;
  padding: 0;
  margin: 10px 0;
  border: 1px solid #008ddf;
  -o-border-image: linear-gradient(to right top, #ca007d, #008ddf, #7734bc);
     border-image: -webkit-gradient(linear, left bottom, right top, from(#ca007d), color-stop(#008ddf), to(#7734bc));
     border-image: linear-gradient(to right top, #ca007d, #008ddf, #7734bc);
  border-image-slice: 1;
  color: #008ddf;
  cursor: default;
}

main .main__posts-section article .article__description-section .description__picture {
  width: 100%;
  height: auto;
}

main .main__posts-section article .article__description-section .description__text {
  padding: 20px 0;
}

main .main__posts-section article .article__description-section .description__read-more-btn {
  border: 1px solid #008ddf;
  color: #008ddf;
  padding: 5px;
}

main .main__posts-section article .article__feedback-section .feedback__feedback-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  padding: 15px 0;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #008ddf;
}

main .main__posts-section article .article__feedback-section .feedback__feedback-btns button {
  color: #008ddf;
}

main .main__posts-section article .article__feedback-section .feedback__feedback-btns .fas,
main .main__posts-section article .article__feedback-section .feedback__feedback-btns .far {
  margin-right: 8px;
  opacity: 0.3;
}

main .main__pagination-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 55px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 10px 15px;
  margin-top: 15px;
}

main .main__pagination-block .pag-here-block a {
  opacity: 0.7;
  cursor: default;
}

main .main__pagination-block .pag-here-block a .fa-chevron-left {
  margin-right: 8px;
}

main .main__pagination-block .pag-pages-block {
  max-width: 50%;
}

main .main__pagination-block .pag-pages-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .main__pagination-block .pag-pages-block ul li {
  margin: 0 8px;
  font-size: 18px;
}

main .main__pagination-block .pag-pages-block ul li:hover {
  color: #008ddf;
}

main .main__pagination-block .pag-pages-block ul .active-pag {
  opacity: 0.5;
}

main .main__pagination-block .pag-there-block a .fa-chevron-right {
  margin-left: 8px;
}

main .main__pagination-block .pag-there-block a:hover {
  color: #008ddf;
}

main aside {
  width: 29%;
}

main aside .aside__block h4 {
  font-family: "PyperFonts";
  font: "Arial";
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.6;
  font-size: smaller;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

main aside .aside__block .aside__top-blogs-container {
  background-color: white;
  padding: 20px 15px;
}

main aside .aside__block .aside__top-blogs-container .top-blogs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

main aside .aside__block .aside__top-blogs-container .top-blogs-block img {
  position: absolute;
  width: 40px;
  height: 40px;
}

main aside .aside__block .aside__top-blogs-container .top-blogs-block .top-blog-name {
  margin-left: 55px;
  padding: 8px 0;
  width: 70%;
}

main aside .aside__block .aside__top-blogs-container .top-blogs-block .top-blog-rating {
  padding: 7px 0;
  color: #ca007d;
}

main aside .aside__block .aside__top-blogs-container a {
  font-size: 15px;
  color: #008ddf;
}

main aside .aside__block .aside__news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 20px 15px;
}

main aside .aside__block .aside__news-container .aside-new {
  position: relative;
  width: 100%;
  height: auto;
  margin: 3px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

main aside .aside__block .aside__news-container .aside-new a {
  font-weight: bold;
  font-size: 13px;
  opacity: 0.8;
}

main aside .aside__block .aside__news-container .aside-new a:hover {
  opacity: 1;
}

main aside .aside__block .aside__news-container .aside-new .new-buttons {
  padding: 7px 0;
}

main aside .aside__block .aside__news-container .aside-new .new-buttons .new-views {
  cursor: default;
}

main aside .aside__block .aside__news-container .aside-new .new-buttons .new-views .far {
  margin-right: 5px;
  color: #8ea9b9;
}

main aside .aside__block .aside__news-container .aside-new .new-buttons .new-comments-btn .fas {
  margin-right: 5px;
  color: #8ea9b9;
}
/*# sourceMappingURL=main.css.map */