nav {
  display: block;
  width: 100%;
  height: 48px;
  background-color: white;
  color: black;
}

nav .nav__content {
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 12px 0;
}
nav .nav__content ul li {
  display: inline;
  margin: 0 8px;
  cursor: pointer;
  opacity: 0.6;
  color: black;
  font-size: 14px;
  letter-spacing: 0.6px;
}
nav .nav__content ul li:hover {
  color: #4c7bbf;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .nav__content .nav__buttons {
  float: right;
  margin-top: -24px;
}

nav .nav__content .nav__buttons button {
  font-size: 18px;
  opacity: 0.5;
  margin: 0 5px;
}
nav .nav__content .nav__buttons button:hover {
  color: #34588a;
}
nav .nav__content .nav__buttons .fa-search {
  font-size: smaller;
}
nav .nav__content .nav__buttons .nav__search-input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 15px;
  transition: 1s ease-in;
  padding: 0 2px;
  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -ms-transition: 1s ease-in;
  -o-transition: 1s ease-in;
}
nav .nav__content .nav__buttons .nav__search-input:focus {
  outline: none;
}
